.m-nav-content {
    padding: 12px;
    position: fixed;
    right: 0;
    top: 52px;
    z-index: 1000;
    width: 200px;
    .m-nav {
        display: flex;
        flex-direction: column;
        position: relative;

        >a {
            padding-bottom: 6px;
            padding-left: 12px;
            font-size: 12px;
            color: #666;

            &.active {
                color: $primary ;
            }
        }

        >.border-pos {
            transition: .2s;
            position: absolute;
            left: 0;
            width: 3px;
            background: $primary;
            height: 16px;
            transform: translateY(1px);
            border-radius: 4px;
        }
    }
}